
body {
  font-family: Helvetica;
}

#greengatelogo {
  padding: 0.5rem;

  text-shadow: 0px 0px 10px #000000;
  border-radius: 30px;
  font-weight: bold;
  color:rgb(255, 255, 255);
}

.flex-row {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
