
body {
  font-family: Helvetica;
}

#greengatelogo {
  padding: 0.5rem;

  text-shadow: 0px 0px 10px #000000;
  border-radius: 30px;
  font-weight: bold;
  color:rgb(255, 255, 255);
}



#floatingSelect {
  margin-bottom: 1rem;
}

#course_search {
  margin-bottom: 1rem;
}

.heading_with_button {
  display: flex;
  justify-content: space-between;
}