{% extends "layout.html" %}

{% block title %}Available courses{% endblock %}

{% block body %}
    <script src="{{ url_for ('static', filename='search.js') }}"></script>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="heading_with_button">
                    Cart
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_for('my_cart') }}'">View cart details</button>   
                </h2>
                <hr>
                <table class="table table-striped">
                    <thead>
                        <th>Course</th>
                        <th>Schedule</th>
                        <th>Units</th>
                    </thead>
                    <tbody>
                        {% for item in cart %}
                            <tr>
                                <td>{{ item[0] }}</td>
                                <td>{{ item[1] }}, {{ item[2] }}-{{ item[3] }}</td>
                                <td>{{ item[4]|int }}</td>
                                <td>
                                    <form id="remove_from_cart" method="post">
                                        <input type="hidden" name="class_id_remove" value="{{ item[5] }}">
                                        <button type="submit" class="btn btn-secondary" name="remove">Remove</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2" style="text-align: right;">Total units</td>
                            <td>{{ total_units }}</td>
                        </tr>
                    </tbody>
                </table>
            </div> 
            <div class="col-sm-8">
                <h2>Available classes</h2>
                <hr>
                <input class="form-control me-2" type="text" placeholder="Search by course code, days, or time" aria-label="Search" id="course_search" name="course_search"/>
                <table class="table table-striped" id="available_classes">
                    <thead>
                        <th>Class Nbr</th>
                        <th>Course</th>
                        <th>Units</th>
                        <th>Day/s</th>
                        <th>Time</th>
                        <th>Enrolled</th>
                        <th>Enrl Cap</th>
                    </thead>
                    <tbody>
                        {% for class in classes %}
                            <tr>
                                <td>{{ class[0] }}</td>
                                <td>{{ class[1] }} </td>
                                <td>{{ class[5] }} </td>
                                <td>{{ class[8] }}</td>
                                <td>{{ class[9] }}-{{ class[10] }}</td>
                                <td>{{ class[6] }}</td>
                                <td>{{ class[7] }} </td>
                                <td>
                                    <form id="add_to_cart" method="post">
                                        <input type="hidden" name="class_id" value="{{ class[0] }}">
                                        <button type="submit" class="btn btn-primary" name="cart">Add to cart</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                            <tr> </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}