{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container d-flex flex-custom justify-content-center">
    <form id="register" method="POST" action="/register">
        <div class="mb-3">
            <label for="idnumberinput" class="form-label">ID number</label>
            <input type="number" class="form-control" id="idnumberinput" name="id_number" aria-describedby="idnumberinput" required>
        </div>
        <div class="mb-3">
            <label for="emailaddress" class="form-label">Email</label>
            <input type="email" class="form-control" id="emailaddress" name="emailaddress" aria-describedby="lastname" required>
        </div>
        <div class="mb-3">
            <label for="firstname" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" aria-describedby="firstname" required>
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastname" name="lastname" aria-describedby="lastname" required>
        </div>
        <div class="mb-3">
            <label for="passwordinput" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordinput" name="password" required>
        </div>
        <div class="mb-3">
            <label for="confirmation" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmation" name="confirmation" required>
        </div>
        <div class="mb-3">
            <select name="role" class="form-select" id="floatingSelect" aria-label="Floating label select example" required>
                <option value="student">Student</option>
                <option value="faculty">Faculty</option>
                <option value="admin">Admin</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
    
{% endblock %}